@media (max-width: 1080px) {
    body {
        padding: 10px 100px 0px 100px;  
    }
}

@media (max-width: 775px) {
    body {
        padding: 10px 50px 0px 50px;  
    }
}

@media (max-width: 670px) {
    body {
        padding: 5px;  
    }

    img {
        height: 300px;
    }
}

@media (max-width: 600px) {
    nav {
        padding: 0px;
        height: 170px;
        display: block;
    }

    nav a {
        display: block;
        text-align: center;
    }

    img {
        height: 200px;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 30px;
    }

    img {
        height: 150px;
    }
}